# Setup
Install the necessary dependencies with `pip install ipython-sql`

In [1]:
%load_ext sql
%sql sqlite:///sfscores.sqlite

'Connected: @sfscores.sqlite'

# How to submit
You are welcome to use this notebook to interactive try out different SQL queries.

To assess whether your queries are correct you will need to complete the 3 submission files provided.

Refer to the `README.md` for background on the dataset.

# Queries

## Pt1: Essentials

**1. Write a SQL query that finds the number of business ids in the businesses table**

In [2]:
%sql SELECT * from businesses limit 5

 * sqlite:///sfscores.sqlite
Done.

[(10, 'Tiramisu Kitchen', '033 Belden Pl', 'San Francisco', '94104', 37.791116, -122.403816, None, 'H24', 779059, None, 'Tiramisu LLC', '33 Belden St', 'San Francisco', 'CA', '94104'),
 (19, 'Nrgize Lifestyle Cafe', '1200 Van Ness Ave, 3rd Floor', 'San Francisco', '94109', 37.786848, -122.421547, None, 'H24', None, None, '24 Hour Fitness Inc', '1200 Van Ness Ave, 3rd Floor', 'San Francisco', 'CA', '94109'),
 (24, 'OMNI S.F. Hotel - 2nd Floor Pantry', '500 California St, 2nd  Floor', 'San Francisco', '94104', 37.792888, -122.403135, None, 'H24', 352312, None, 'OMNI San Francisco Hotel Corp', '500 California St, 2nd Floor', 'San Francisco', 'CA', '94104'),
 (31, "Norman's Ice Cream and Freezes", '2801 Leavenworth St', 'San Francisco', '94133', 37.807155, -122.419004, None, 'H24', 346882, None, 'Norman Antiforda', '2801 Leavenworth St', 'San Francisco', 'CA', '94133'),
 (45, "CHARLIE'S DELI CAFE", '3202 FOLSOM St', 'S.F.', '94110', 37.747114, -122.413641, None, 'H24', 340024, '2001-10-10', 'HARB, CHARLES AND KRISTIN', '1150 SANCHEZ', 'S.F.', 'CA', '94114')]

In [3]:
%sql SELECT COUNT(business_id) FROM businesses

 * sqlite:///sfscores.sqlite
Done.

[(7619,)]

**2. Write a SQL query that finds out how many unique business names are registered with San Francisco Food health investigation organization and name the column as unique restaurant name count.**

In [4]:
%sql SELECT COUNT(DISTINCT name) FROM businesses

 * sqlite:///sfscores.sqlite
Done.

[(7060,)]

**3. Write a SQL query that finds out what is the earliest and latest date a health investigation is recorded in this database.**

In [5]:
%%sql
SELECT 
min(date) as earliest_date,
max(date) as latest_date
FROM inspections

 * sqlite:///sfscores.sqlite
Done.

[(20131007, 20161215)]

**4. How many businesses are there in San Francisco where their owners live in the same area (postal code/ zip code) as the business is located?**

In [6]:
%%sql

SELECT COUNT(business_id)
FROM businesses
WHERE postal_code = owner_zip

 * sqlite:///sfscores.sqlite
Done.

[(4053,)]

**5. Out of those businesses, how many of them has a registered business certificate?**

In [7]:
%%sql

SELECT COUNT(*)
FROM businesses
WHERE 
postal_code = owner_zip AND
business_certificate iS NOT NULL

 * sqlite:///sfscores.sqlite
Done.

[(3373,)]

## Pt2: Groupby

**6. Find out the distribution of the risk exposure of all the violations reported in the database. The first column of the result should 'risk_category' and the second column the count.**

In [8]:
%%sql
SELECT 
risk_category,
count(*) as num_violations
FROM 
VIOLATIONS
GROUP BY risk_category
ORDER BY num_violations DESC

 * sqlite:///sfscores.sqlite
Done.

[('Low Risk', 20996), ('Moderate Risk', 14131), ('High Risk', 5608)]

**7. Find out the distribution of the risk exposure of all the violations reported in the database that are *water related*. Sort them by frequency (count) from high to low.**

In [9]:
%%sql
SELECT 
risk_category,
count(*) as num_violations
FROM 
VIOLATIONS
WHERE description like'%water%'
GROUP BY risk_category
ORDER BY num_violations DESC

 * sqlite:///sfscores.sqlite
Done.

[('Moderate Risk', 630), ('High Risk', 237)]

** 8. What types of inspections does the authorities conduct and how often do they occur in general.
    Calculate the distribution of different types of inspections with their frequency (type, frequency)
    based on inspections records. Sort them in ascending order based on frequency.**

In [10]:
%%sql
SELECT type, count(*) as frequency FROM INSPECTIONS 
GROUP by type
ORDER BY frequency

 * sqlite:///sfscores.sqlite
Done.

[('Multi-agency Investigation', 1),
 ('Administrative or Document Review', 3),
 ('Special Event', 7),
 ('Routine - Scheduled', 74),
 ('Foodborne Illness Investigation', 80),
 ('Complaint Reinspection/Followup', 138),
 ('Structural Inspection', 170),
 ('Non-inspection site visit', 814),
 ('Complaint', 1625),
 ('New Construction', 1737),
 ('New Ownership', 1843),
 ('Reinspection/Followup', 5283),
 ('Routine - Unscheduled', 15568)]

** 9. What is the average score given to restaurants based on the type of inspection?
    Based on the results, identify the types of inspections that are not scored (NULL)
    and remove those categories from the resultset. The 'average_score' should be rounded
    to one decimal. Sort the results in ascending order based on the average score. Hint: use the function `ROUND(score, 1)`**

In [11]:
%%sql
SELECT type, ROUND(avg(Score),1) as avg_score
FROM INSPECTIONS 
GROUP by type
ORDER BY avg_score

 * sqlite:///sfscores.sqlite
Done.

[('Administrative or Document Review', None),
 ('Complaint', None),
 ('Complaint Reinspection/Followup', None),
 ('Foodborne Illness Investigation', None),
 ('Multi-agency Investigation', None),
 ('New Construction', None),
 ('Non-inspection site visit', None),
 ('Routine - Scheduled', None),
 ('Special Event', None),
 ('Structural Inspection', None),
 ('Reinspection/Followup', 85.0),
 ('Routine - Unscheduled', 91.2),
 ('New Ownership', 100.0)]

** 10. Find the restaurant owners (owner_name) that own one or multiple restaurants in the city
    with the number of restaurants (num_restaurants) they own.
    Find the first top 10 owners ordered by descending order using the number of restaurants.**

In [12]:
%%sql
SELECT owner_name, count(*) as num_restaurants
FROM BUSINESSES
GROUP BY 1
ORDER BY num_restaurants DESC
LIMIT 10

 * sqlite:///sfscores.sqlite
Done.

[('VOLUME SERVICES AMERICA', 94),
 ('Department of Children, Youth and their Families', 64),
 ('SFUSD', 44),
 ('Volume Services, Inc.', 41),
 ("Children's Empowerment Inc.", 37),
 ('SAN FRANCISCO UNIFIED SCHOOL', 34),
 ('WALGREEN CO.', 17),
 ('Walgreen Co', 15),
 ('SMG Food and Beverage LLC', 15),
 ('Walgreen Co.', 14)]

## Pt3: Subqueries and joins

** 11. From the businesses table, select the top 10 most popular postal_code. They should be filtered to only count the restaurants owned by people/entities that own 5 or more restaurants. The final result should return a row (postal_code, count) for each 10 selection and be sorted by descending order to get the most relevant zip codes
**

In [13]:
%%sql
SELECT postal_code, count(*) as num_restaurants
FROM BUSINESSES
WHERE owner_name in (SELECT owner_name
                    FROM BUSINESSES
                    GROUP BY owner_name
                    HAVING count(*) >=5
                    )
GROUP BY postal_code
ORDER BY num_restaurants DESC
LIMIT 10

 * sqlite:///sfscores.sqlite
Done.

[('94107', 179),
 ('94103', 68),
 ('94102', 56),
 ('94110', 32),
 ('94112', 30),
 ('94104', 28),
 ('94124', 27),
 ('94105', 23),
 ('94133', 22),
 ('94111', 21)]

In [14]:
%%sql
-- People owning 5 or more restaurants
SELECT owner_name, count(*) as num_restaurants
FROM BUSINESSES
GROUP BY owner_name
HAVING num_restaurants >=5
ORDER BY num_restaurants DESC

 * sqlite:///sfscores.sqlite
Done.

[('VOLUME SERVICES AMERICA', 94),
 ('Department of Children, Youth and their Families', 64),
 ('SFUSD', 44),
 ('Volume Services, Inc.', 41),
 ("Children's Empowerment Inc.", 37),
 ('SAN FRANCISCO UNIFIED SCHOOL', 34),
 ('WALGREEN CO.', 17),
 ('Walgreen Co', 15),
 ('SMG Food and Beverage LLC', 15),
 ('Walgreen Co.', 14),
 ('Starbucks Corporation', 13),
 ('STARBUCKS COFFEE CO.', 13),
 ('Starbucks Coffee Co', 11),
 ('San Francisco Unified School District', 11),
 ('Bon Appetit Management Company', 11),
 ('San Francisco Bay Concessionaires', 10),
 ('Garfield Beach CVS, LLC', 10),
 ('Au Energy, LLC', 10),
 ('San Francisco Soup Company', 9),
 ('RA CENTER LLC', 9),
 ('Bon Appetit Management Co', 9),
 (None, 9),
 ('Target Corporation', 8),
 ('STARBUCKS COFFEE COMPANY', 8),
 ('JUMA VENTURES, INC.', 8),
 ('Volume Services, Inc./Centerplate', 7),
 ('SAFEWAY STORES, INC.', 7),
 ('S.F. Unified School District', 7),
 ('MARRIOTT HOTELS, INC.', 7),
 ('Guckenheimer Services, LLC', 7),
 ("Children's Empowerment, Inc.", 7),
 ('Walgreens Co.', 6),
 ('Volume Services America, Inc.', 6),
 ('Valley Juice LLC', 6),
 ('VOLUME SERVICES INC', 6),
 ('SF Hilton, LLC', 6),
 ("Peet's Coffee & Tea", 6),
 ('OMNI San Francisco Hotel Corp', 6),
 ('MACYS WEST STORES INC', 6),
 ('Huskies Lessee LLC', 6),
 ('Dtrs St Francis LLC', 6),
 ('Chipotle Mexican Grill, Inc.', 6),
 ('CDC SF, LLC', 6),
 ('Bon Appetit Management Co.', 6),
 ('Viva Soma Lessee Inc.', 5),
 ('THE ABSINTHE GROUP INC', 5),
 ('Starbucks Coffee Company', 5),
 ('Sodexo America LLC', 5),
 ('Mason Street OpCo, LLC', 5),
 ('Lettus LLC', 5),
 ('LSF Hotel, LLC', 5),
 ('General Nutrition Corp', 5),
 ('EK Food Services, Inc.', 5),
 ('Advanced Fresh Concepts Franchise Corp.', 5)]

**12. First let's get an idea about the inspection score our competition has.
    Based on multiple inspections, find out the minimum Score (as "min_score"),
    average Score (as "avg_score") and maximum Score (as "max_score") for all restaurant in post code "94103".
    The average score should be rounded to one decimal.**

In [15]:
%%sql

SELECT 
MIN(Score) as min_score,
ROUND(AVG(Score),1) as avg_score,
MAX(Score) as max_score
FROM INSPECTIONS 
WHERE business_id in (
                        SELECT business_id
                        FROM BUSINESSES
                        WHERE postal_code  =94103)

 * sqlite:///sfscores.sqlite
Done.

[(54, 90.2, 100)]

** 13. Now lets get more serious, and look at how many times restaurants in Market street
    (postal_code: 94103) has committed health violations and group them based on their risk category.
    The output should be (risk_category, count as frequency) and sorted in descending order by frequency**

In [16]:
%%sql
SELECT 
risk_category,
count(*) as frequency
FROM VIOLATIONS as v
INNER JOIN BUSINESSES as b
on v.business_id = b.business_id
AND postal_code = 94103
GROUP BY risk_category
ORDER BY frequency DESC

 * sqlite:///sfscores.sqlite
Done.

[('Low Risk', 1746), ('Moderate Risk', 1229), ('High Risk', 520)]